@import url("https://fonts.googleapis.com/css2?family=Fuggles&display=swap");

body {
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#green-background {
  background-color: green;
}
h1 {
  font-family: cursive;
  color: deepskyblue;
  font-weight: 400;
}
h2 {
  background-color: deepskyblue;
  color: fuchsia;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#h2-border {
  border: 3px dotted black;
  padding: 3px;
}
.list {
  list-style: circle;
}
a {
  text-decoration: none;
}
.avatar {
  border-radius: 100px;
  height: 200px;
}
.font-link {
  font-family: "Fuggles", cursive;
  font-size: 3rem;
  font-weight: bold;
}
